/* define official THIS colours */
:root {
    --this-dark-grey: rgb(58 60 66 / 1);
    --this-light-grey: rgb(210 212 211 / 1);
    --this-red: rgb(221, 0, 49);
    --this-bright-blue: rgb(91, 194, 231);
    --this-pale-blue: rgb(143, 172, 217);
    --this-green: rgb(0, 187, 126);
    --this-pink: rgb(243, 165, 185);
    --this-aubergine: rgb(104 4 54 / 1);
    --this-yellow: rgb(255 216 90 / 1);
    --this-lighter-grey: #f4f4f4;
}

// A map of breakpoints.
$breakpoints: (
  xs: 481px,
  sm: 768px,
  md: 980px,
  lg: 1400px
);

//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
  
      // Get the breakpoint value.
      $breakpoint-value: map-get($breakpoints, $breakpoint);
  
      // Write the media query.
      @media (min-width: $breakpoint-value) {
        @content;
      }
    
    // If the breakpoint doesn't exist in the map.
    } @else {
  
      // Log a warning.
      @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

#thisco-privacy-modal {
    &.modal-curtain {
        position: absolute;
        top:0px;
        left:0px;
        width: 100vw;
        height: 100vh;
        z-index: 500;
        background-color: rgb(0 0 0 / .3);
        @include respond-above(md) {
            position: fixed;
        }
    }

    .modal-contents {
        // min-height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        // max-height: initial;
        padding: 80px 20px 20px;
        @include respond-above(md) {
            padding: 40px;
            width: 90vw;
            max-width: 900px;
            max-height: 80vw;
            position: absolute;
            left: 50%;
            top: 2rem;
            transform: translateX(-50%);
            border-radius: 6px;
            overflow: unset;
        }
        background-color: var(--this-lighter-grey);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
        display: block;
        .modal-close-button {
            background-color: var(--this-red);
            border:none;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 20px;
            right: 20px;
            border-radius: 50%;
            cursor: pointer;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='%23FFF' fill-rule='evenodd'%3E%3Cpath d='M2.909 1.212l11.88 11.88a1.2 1.2 0 1 1-1.697 1.697L1.211 2.908a1.2 1.2 0 0 1 1.697-1.697z'/%3E%3Cpath d='M2.909 14.788l11.88-11.88a1.2 1.2 0 1 0-1.697-1.697l-11.88 11.88a1.2 1.2 0 0 0 1.697 1.697z'/%3E%3C/g%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            @include respond-above(md) {
                top: -20px;
                right: -20px;
            }
        }
        .modal-buttons {
            display: flex;
            align-items: flex-end;
            button {
                font-size: 16px;
                width: 50%;
                border: none;
                padding: 15px 0;
                background-color: var(--this-light-grey);
                border-top-right-radius: 10px;
                transition: all .2s;
                max-height: 46px;
                &:nth-child(1){
                    border-top-right-radius: 0px;
                    border-top-left-radius: 10px;
                }
                &:hover, &:active, &.active {
                    padding: 20px 0;
                    background-color: white;
                    color : var(--this-red);
                    max-height: 54px;
                }
            }
        }
        #panel-privacy-policy, #panel-terms-and-conditions {
            display: none;
            &.active {
                display: block;

                @include respond-above(md) {
                    display: grid;
                    grid-template-columns: 15rem 1fr;
                    margin-top: 2rem;
                }

                .sub-nav {
                    ul {
                        list-style: none;
                        padding-left: 0;
                        font-size: 1.2em;
                        line-height: 2;
                        @include respond-above(md) {
                            margin-top: 0;
                        }
                        li {
                            opacity: .2;
                            cursor: pointer;
                            &.active {
                                opacity: 1;
                                color: var(--this-red);
                            }
                        }
                    }
                }
                .panel-content {
                    display: none;
                    &.active {
                        display: block;
                        @include respond-above(md) {
                            overflow: scroll;
                            max-height: calc(80vh - 3rem);
                        }
                        padding: 20px;
                        background-color: white;
                        border-radius: 6px;
                        font-size: 18px;
                        line-height: 1.6;
                        h1, h2, h3, p, ul, ol {
                            margin-bottom: 1rem;
                        }
                        a, a:visited {
                            text-decoration: none;
                            color: var(--this-red);
                            &:active, &:hover {
                                color: black;
                            }
                        }
                    }
                }

            }
        }
    }
}