fieldset.contains-invalid {
    position: relative;

    & table.likert-scale {
        outline: 2px dotted crimson;
    }

}

fieldset.contains-invalid::before {
    content : "!";
    position: absolute;
    left: -.3ch;
    top: -17px;
    font-size: 2em;
    color: var(--thisco-red);
    font-weight: bold;
    height: 80%;
    line-height: 1;
}