/* define official THIS colours */
:root {
    --thisco-dark-grey: rgb(58 60 66 / 1);
    --thisco-light-grey: rgb(210 212 211 / 1);
    --thisco-red: rgb(221, 0, 49);
    --thisco-bright-blue: rgb(91, 194, 231);
    --thisco-pale-blue: rgb(143, 172, 217);
    --thisco-green: rgb(0, 187, 126);
    --thisco-pink: rgb(243, 165, 185);
    --thisco-aubergine: rgb(104 4 54 / 1);
    --thisco-yellow: rgb(255 216 90 / 1);
}

@mixin thisco-button() {
    border-radius: 999px;
    transition: all .2s ease-in;
    background-color: var(--thisco-red);
    padding: 1em 3em;
    line-height: 1;
    border: 2px solid var(--thisco-red);
    font-weight: 400;
    color: white;
    cursor: pointer;
    &:hover, &:active, &:focus {
        transform: scale(1.03);
        background-color: transparent;
        color: var(--thisco-red);
        border-color: var(--thisco-red);
    }
}

@mixin thisco-button-inverse() {
    border-color: var(--thisco-dark-grey);
    color: var(--thisco-dark-grey);
    background: white;
    &:hover, &:active, &:focus {
        background-color: var(--thisco-dark-grey);
        color: white;
        border-color: transparent;
    }
}

.Skin {
    #Buttons {
        /* reset */

        display: grid;
        grid-template-columns: 1fr;
        grid-gap:1em;
        overflow: hidden;
        padding: 5px;
        width: 100%;

        @media (min-width: 481px) {
            grid-template-columns: 1fr 1fr 1fr;

            #NextButton {
                grid-column-start: 3;
            }
        }

        @media (min-width: 481px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            #NextButton {
                grid-column-start: 5;
            }
        }

        #NextButton, #PreviousButton {
            
            width: 90%;
            margin: auto;
            font-size: 1em;
            font-family: inherit;
            font-weight: inherit;
            @include thisco-button();

            @media (min-width: 481px) {
                width: 100%;
                margin: initial;
                font-size: 1em;
            }

        }

        #PreviousButton {
            @include thisco-button-inverse();
            // grid-row-start: 2;
        }

    }

    .btn.thisco-btn {
        @include thisco-button();
    }

    .btn.thisco-btn-inverse {
        @include thisco-button-inverse();
    }

    .btn.thisco-btn-inverse-red {
        @include thisco-button-inverse();
        color: var(--thisco-red);
        border-color: var(--thisco-red);
        &:hover, &:active, &:focus {
            background-color: var(--thisco-red);
            color: white;
            border-color: transparent;
        }
    }

}

/* special */

.close-dialog-button {
    @include thisco-button();
    padding: 3px 5px;
    font-size: .8em;
    display: flex;
    align-items: center;
    transition: all .15s linear;
    &:hover, &:active, &:focus {
        transform: scale(1.1);
        background-color: var(--thisco-red);
        color: white;
        border-color: var(--thisco-red);
    }
    &:focus {
        background-color: var(--thisco-aubergine);
        border-color: var(--thisco-aubergine);
    }
    &:active {
        transform: scale(0.9);
    }
}
