/* define official THIS colours */
:root {
    --this-dark-grey: rgb(58 60 66 / 1);
    --this-light-grey: rgb(210 212 211 / 1);
    --this-red: rgb(221, 0, 49);
    --this-bright-blue: rgb(91, 194, 231);
    --this-pale-blue: rgb(143, 172, 217);
    --this-green: rgb(0, 187, 126);
    --this-pink: rgb(243, 165, 185);
    --this-aubergine: rgb(104 4 54 / 1);
    --this-yellow: rgb(255 216 90 / 1);
}

.Skin {
    #Buttons {
        /* reset */

        display: grid;
        grid-template-columns: 1fr;
        grid-gap:1em;

        @media (min-width: 481px) {
            grid-template-columns: 1fr 1fr 1fr;

            #NextButton {
                grid-column-start: 3;
            }
        }

        @media (min-width: 481px) {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            #NextButton {
                grid-column-start: 5;
            }
        }

        #NextButton, #PreviousButton {
            
            width: 90%;
            margin: auto;
            font-size: 1.4em;
            font-family: inherit;
            font-weight: inherit;
            border-radius: 999px;
            transition: all .2s ease-in;
            background-color: var(--this-red);
            padding: 1em 1.4em;
            line-height: 1;
            border: 2px solid var(--this-red);

            &:hover, &:active, &:focus {
                transform: scale(1.03);
                background-color: transparent;
                color: var(--this-red);
            }

            @media (min-width: 481px) {
                width: 100%;
                margin: initial;
                font-size: 1em;
            }

        }

        #PreviousButton {
            border-color: var(--this-dark-grey);
            color: var(--this-dark-grey);
            background: transparent;
            grid-row-start: 2;
            &:hover, &:active, &:focus {
                background-color: var(--this-dark-grey);
                color: white;
            }
        }

    }
}
