/* Qualtrics compensatory styling */

/*

Qualtrics codes:
    MC = Multiple Choice?

*/

/* resets */

.Skin {

    .QuestionBody {
        color: unset;
        font-weight: unset;
        font-size: unset;
    }

    .QuestionText {
        padding: 0;
    }

    label.MultipleAnswer, label.SingleAnswer {
        background-color: unset;
        color: initial;
        padding: unset;
        &.q-checked, &.q-checked:hover, &:hover {
            background-color: unset;
            color: initial;
            &.q-focused {
                background-color: unset;
                color: unset;
            }
        }
    }

    .LabelWrapper {
        span {
        }
    }
}

/* radio buttons */

@mixin thiscovery-radio-button ($size) {
    color : var(--thisco-red);
    border-radius: 50%; // round
    width: $size;
    height: $size;
    // background-color: white;
    background-image: radial-gradient(circle at center, var(--thisco-red) 0%, var(--thisco-red) 50%, transparent 50%) !important;
    // background-image: radial-gradient(circle at center, red, green) !important;
    background-position: center !important;
    background-size: 0% 0% !important;
    background-repeat: no-repeat !important;
    border: ($size * .3) solid white;
    outline: ($size * .2) solid var(--thisco-red);
    display: block;
}

@mixin thiscovery-radio-button-checked () {
    // background-color: var(--thisco-red) !important; // Q forces hand
    background-color: transparent !important;
    background-size: 150% 150% !important;
}

$min-label-height: 2em;
$radio-size: .8rem;

/* basic question here for building on */

.Skin {

    #SkinContent {
        padding: 1rem;
    }

    .QuestionText, .QuestionBody {
        padding: 1rem;
        padding-top: 0;
    }

    label.MultipleAnswer, label.SingleAnswer {
        padding: 5px;
        min-height: $min-label-height;
        > span {
                            &:focus-visible {
                &::before {
                    transform: scale(1.1);
                }
            }
            &:active {
                &::before {
                    transform: scale(0.9);
                }
            }
        }
        > span::before {
            transition: all .15s;
            animation: none;
            top:($radio-size);
            margin-top: 0;
            @include thiscovery-radio-button($radio-size);
        }
        &.q-checked, &.q-checked.q-focused {
            > span {
            }
            > span::before {
                animation: none;
                box-shadow: none;
                @include thiscovery-radio-button($radio-size);
                @include thiscovery-radio-button-checked();           
            }
        }
    }
}