// css for custom component web icons

thisco-icon {
    display: inline-block;
    width: .95em;
    height: .95em;
    vertical-align: -.16em;
    background-position: center;
    background-size: 100%;
    // outline: 1px dotted white;
}