.multiline-input {
    // animation : mlAppear .3s forwards;
    // opacity: 0;
    // transform: translate(-3rem,-1rem);
    display: block;
    width: 80%;
    margin-top: .7em;
}

@keyframes mlAppear {
    to  {
        transform: translate(0,0);
        opacity: 1;
    }
}