@mixin thisco-button($col : var(--thisco-red)) {
    border-radius: 999px;
    transition: all .2s ease-in;
    background-color: $col;
    padding: 1em 3em;
    line-height: 1;
    border: 2px solid $col;
    font-weight: 400;
    color: white;
    cursor: pointer;
    box-shadow: none;
    &:hover, &:active, &:focus {
        transform: scale(1.03);
        background-color: transparent;
        color: $col;
        border-color: $col;
    }
    &:active {
        transform: scale(0.9);
    }
}

/* Qualtrics page error dialog */

.PageErrorDialog {
    background: var(--thisco-light-grey);
    border-radius: 25px;
    padding: 1.75rem;
    font-size: .9em;
    box-shadow: 4px 4px 10px rgba(0 0 0 / 0.2);
    .ErrorTitle {
        margin-top: 0px;
    }
    .ErrorButtons {
        padding-top: 1em;
        display: flex;
        button {
            @include thisco-button();
            margin-right: 1ch;
            font-size: .8em;
            padding: .8em 2em;
            &:hover, &:active, &:focus {
                background-color: white;
            }
        }
    }
}