// A map of breakpoints.
$breakpoints: (
  xs: 481px,
  sm: 768px,
  md: 980px,
  lg: 1400px
);

//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
  
      // Get the breakpoint value.
      $breakpoint-value: map-get($breakpoints, $breakpoint);
  
      // Write the media query.
      @media (min-width: $breakpoint-value) {
        @content;
      }
    
    // If the breakpoint doesn't exist in the map.
    } @else {
  
      // Log a warning.
      @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin panel-basic() {
    border-radius: 25px;
    padding: 1.8em;
    background-color: var(--thisco-aubergine);
    color: rgb(255 255 255 / 0.95);
    font-weight: 400;
    max-width: 65ch;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    a {
        font-weight: 400;
    }
    ol:not(.ChoiceStructure):not(.ChoiceGroupStructure):not(.thisco-grid-list),  ul:not(.ChoiceStructure):not(.ChoiceGroupStructure):not(.thisco-grid-list) {
        padding-left: 1.2em;
    }
    > p , > ul, > ol, > dl, > table, > figure {
        margin-bottom: 1.6em;
        &:last-child {
            margin-bottom: .6em;
        }
    }
}

// use asides for meta info (ie. not in questionnaires
aside {
    @include panel-basic();
    font-size: .7em;
}

blockquote, .Skin .SkinInner blockquote {
    @include panel-basic();
    background-color: var(--thisco-light-pink);
    color: rgb(0 0 0 / .95);
    font-weight: 100;
    > cite {
        font-size: 0.8em;
        float: right;
        display: inline-block;
        max-width: 40%;
        margin: .2em;
    }

    &.numbered-quote {
        position: relative;
        .number-bubble {
            position: absolute;
            top: -.2ch;
            left: -.2ch;
            scale: 1.2;
        }
    }
 }

div.alert-warning {
    @include panel-basic();
    background-color: var(--thisco-yellow);
    color: rgb(146 64 14 / 1 );
    font-weight: 100;
}

div.alert-error {
    @include panel-basic();
    background-color: var(--thisco-red);
    color: rgb(255 255 255 / 0.95 );
    font-weight: 100;
}

pre {
    @include panel-basic();
    color: var(--thisco-dark-grey);
    background-color: #F4F4F4;
    font-size: .9em;
    white-space: pre-wrap;
}

/* special */

.Skin .SkinInner ul.thisco-grid-list, ul.thisco-grid-list {
    padding-left: 0px;
    max-width: 65ch;
    margin:0;
    margin-bottom: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: .6em;
    list-style: none;
    line-height: 1.25;
    font-size: .9em;
    @include respond-above(xs) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;    
        li {
            line-height: 1.4;
            font-size: 1em;
        }
    }
    li {
        &::before {
            visibility: hidden;
        }
        @include panel-basic();
        border-radius: 15px;
        background-color: var(--thisco-light-pink);
        color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin:0;
    }
}

.Skin .SkinInner fieldset.meta-panel {
    background-color: var(--thisco-aubergine);
    display: block;
    border-radius: 25px;
    padding: 1em 1em 0em 1em;
    legend {
        float: left;
        color: white;
        font-weight: 400;
    }
}

.q-insight-panel {
    display: grid;
    @include respond-above(sm) {
        grid-template-columns: 1fr 1fr;
    }
    background-color: #eee;
    border-radius: 25px;
    overflow: hidden;
    div {
        padding: 25px;
        p, blockquote {
            margin-bottom: 1em;
        }
        .number-disc {
            float: left;
            width: 2.8em;
            height: 2.8em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--thisco-light-pink);
            color: var(--thisco-aubergine);
            font-weight: bold;
            border-radius: 50%;
            line-height: 0;
            margin-right: 1ch;
        }
        img {
            max-width: 50vw;
        }
    }
    div:nth-child(1) {
        color : var(--thisco-aubergine);
    }
    div:nth-child(2) {
        color: white;
        background-color: var(--thisco-aubergine);
        blockquote {
            padding: 0;
            color: inherit;
            background: transparent;
            .big-quotes {
                float: left;
                font-size: 3em;
                line-height: 0.4;
                transform: translateY(.3ch);
                margin-right: .2ch;
            }
            .big-quotes.end-quote {
                float:right;
                position: relative;
                top: .2em;
            }
            cite {
                margin-top: .7em;
                font-size: .6em;
            }
        }
    }
}