@mixin panel-basic() {
    border-radius: 25px;
    padding: 1.8em;
    background-color: var(--thisco-aubergine);
    color: rgb(255 255 255 / 0.95);
    font-weight: 400;
    max-width: 65ch;
    margin: 0 auto;
    margin-bottom: 1.6rem;
}

// use asides for meta info (ie. not in questionnaires
aside {
    @include panel-basic();
    font-size: .7em;
}

blockquote {
    @include panel-basic();
    background-color: var(--thisco-light-pink);
    color: rgb(0 0 0 / .95);
    font-weight: 100;
}