@mixin thisco-ranking-label () {
    border-radius: 15px;
    background-color: rgb(0 0 0 / 0.01);
    background-image: linear-gradient(45deg, transparent, rgb(0 0 0 / 0.005) 80%);
    padding: .4rem .8rem;
}

@mixin thisco-input () {
  // generic style for majority of types, override as necessary
  border-radius: 5px;
  border: 1px solid var(--thisco-light-grey);
  box-shadow: inset 1px 1px 3px rgb(0 0 0 / 0.1);
  font-weight: 400;
  padding-left: .2em;
  padding-right: .2em;
  &:focus-visible {
      border-color: var(--thisco-red);
      box-shadow: 0px 0px 0px 1px var(--thisco-red);
      outline: none;
  }
  &::placeholder {
      font-weight: 100;
      color: rgb(0 0 0 / 0.5);
  }
}

$control-width: 5rem;
$thisco-red: rgb(221, 0, 49);
$thisco-pink: rgb(243, 165, 185);
$thisco-light-grey: rgb(210 212 211 / 1);
$thisco-dark-grey: rgb(58 60 66 / 1);

fieldset.ranking-question {
    > legend {
        > * {
            margin-bottom: 1.6em;
        }
    }
    .ranking-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: .6em;
    }
    .ranking-item {
        > div {
        @include thisco-ranking-label();
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: $control-width;
        input {
            width: $control-width;
            appearance: textfield;
            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              appearance: none;
              margin:0;
            }
        }
        label {
            font-size: .8em;
            padding-right: .75em;
            padding-left: 2.2ch;
        }
      }
    }
    @for $i from 1 through 20 {
      .ranking-item.ranking-row-#{$i} {
        grid-row-start: $i;
        grid-row-end:$i+1;
        position: relative;
        &::before {
          content: attr(data-rank-value);
          display: block;
          position: absolute;
          width: 2.1ch;
          height: 100%;
          color: black;
          background: var(--thisco-light-grey);
          display: flex;
          align-items: center;
          justify-content: center;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          transition: all .7s .9s;
        }
      }
    }
    .ranking-item[data-rank-value="null"] {
      &::before {
        display: none;
      }
    }
    .ranking-item[data-rank-value="1"] {
      &::before {
        background: var(--thisco-red);
        color: white;
      }
    }
    .ranking-item[data-rank-value="2"] {
      &::before {
        background: var(--thisco-pink);
      }
    }
    .ranking-item[data-rank-value="3"] {
      &::before {
        background: var(--thisco-yellow);
      }
    }
    .ranking-item[data-rank-value="4"] {
      &::before {
        background: var(--thisco-aubergine);
        color: white;
      }
    }
    .ranking-item[data-rank-value="5"] {
      &::before {
        background: var(--thisco-light-grey);
      }
    }
    .input-number-wrapper {
      font-size: 1.2em;
      display: flex;
      align-items: center;
      input {
        max-width: 3ch;
        margin:5px;
        text-align: center;
        @include thisco-input();
      }
      button {
        transition: all .2s ease-in;
        border: 0;
        width: 1.6rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        &:active {
            transform: scale(0.8);
        }
      }

      button.button-decrement {
        background-image: linear-gradient(lighten($thisco-pink,10%),lighten($thisco-pink,10%)), 
                          radial-gradient(circle at center, $thisco-red 60%, transparent 61%);
        background-size: 1rem 3px, 100% 100%;

      }
      button.button-increment {
        background-image: linear-gradient(lighten($thisco-pink,10%),lighten($thisco-pink,10%)), 
                          linear-gradient(lighten($thisco-pink,10%),lighten($thisco-pink,10%)),
                          radial-gradient(circle at center, $thisco-red 60%, transparent 61%);
        background-size: 1rem 3px, 3px 1rem, 100% 100%;
      }
    }
    .ranking-container:not(.indeterminate) .ranking-item[data-rank-value="null"] {
      .input-number-wrapper {
        button.button-decrement {
          background-image: linear-gradient(white,white), 
                            radial-gradient(circle at center, $thisco-dark-grey 60%, transparent 61%);
          background-size: 1rem 3px, 100% 100%;
  
        }
        button.button-increment {
          background-image: linear-gradient(white,white), 
                            linear-gradient(white,white),
                            radial-gradient(circle at center, $thisco-dark-grey 60%, transparent 61%);
          background-size: 1rem 3px, 3px 1rem, 100% 100%;
        }
      }
    }
}