div.thisco-slideshow {
    position: relative;

    .thisco-slideshow-content {
        width: 100%;
    }
    .thisco-slideshow-button {
        position: absolute;
        -webkit-appearance: unset;
        appearance: unset;
        border: 0;
        background: var(--thisco-red);
        color: transparent;
        display: inline-block;
        font-size: 0px;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        z-index: 2;
        top: calc(50% - 1.5rem);
        transform: translateX(-50%) scaleX(-1);
        background-image:url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 178 353' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;'%3E%3Cpath d='M24.5,327.709l128.558,-153.209l-128.558,-150' style='fill:none;stroke:%23fff;stroke-width:49px;'/%3E%3C/svg%3E");
        background-position: 55% center;
        background-repeat: no-repeat;
        background-size: 30%;
        box-shadow: 0px 0px 2px 1px rgba(0 0 0 / .1);
        &.thisco-slideshow-right {
            left: 100%;
            transform: translateX(-50%) scaleX(1);
        }
        &.hidden {
            display: none;
        }
    }
    .thisco-slideshow-content {
        white-space: nowrap;
        overflow-x: hidden;
        -webkit-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        > * {
            min-width: 100%;
            display: inline-block;
            vertical-align: middle;
            scroll-snap-align: center;
        }
    }
    .thisco-slideshow-follow-bar {
        margin: 0 auto;
        width: 150px;
        display : flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
        .follower {
          min-width: 15px;
          min-height: 15px;
          background: crimson;
          border-radius: 999px;
          margin: 2px;
        }
      }
}

.touchevents div.thisco-slideshow .thisco-slideshow-content {
    overflow-x: scroll;
}